<!-- create_event.html 
     David Marin & Silas Curtis
     The html frontend for creating an event in Mediary
     4/22/2025
    -->

<h1>
    Create event page
</h1>

<div>
    <!-- Event Form -->
    <form id="event-form" method="POST" action="{% url 'mediary:create_event' %}">
        {% csrf_token %}
        
        <!-- Title Field -->
        <input type="text" id="title" name="title" placeholder="Event Title" maxlength="255" required>

        <!-- Location Field -->
        <input type="text" id="location" name="location" placeholder="Location" maxlength="255" required>

        <!-- Description Field -->
        <textarea id="description" name="description" rows="4" cols="50" placeholder="Event Description" maxlength="255" required></textarea>

        <!-- Time Field -->
        <input type="datetime-local" id="time" name="time" required>

        {% if form.errors %}
            <div class="invalid-feedback">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        
        <button type="submit">Create Event</button>
    </form>
</div>




<!-- <form id="chirp-form" method="POST">
    {% csrf_token %}
        <textarea id="message" name="message" rows="4" cols="50" placeholder="Name your event..." maxlength="255" required></textarea>
        {% if form.message.errors %}
            <div class="invalid-feedback">
                {% for error in form.message.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    <button type="submit">Enter Event Name</button>
</form>

<form id="chirp-form" method="POST">
    {% csrf_token %}
        <textarea id="message" name="message" rows="4" cols="50" placeholder="Date for event..." maxlength="255" required></textarea>
        {% if form.message.errors %}
            <div class="invalid-feedback">
                {% for error in form.message.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    <button type="submit">Enter Event Date</button>
</form> -->